<div class="dairy box">
  <div class="dairy-title box-title">
     <%= link_to "日記", dairies_path, data: {"turbolinks" => false }, class: "box-title" %>
  </div>
  <div class="dairy-main box-main dairy-main-form">
    <%= form_with(model: @dairy, scope: :dairy, local: true, id: "dairy-new-form") do |f| %>
      <div class="dairy-form-date">
        <div class="dairy-form-icon" id="dairy-new-submit">
          <i class="fas fa-plus-circle"></i>
        </div>
        <div class="dairy-form-year">
          <div class="dairy-form-head">
            年
          </div>
          <%= f.text_field :year, id: "dairy-new-year", class: "add-form dairy-form" %>
        </div>
        <div class="dairy-form-month">
          <div class="dairy-form-head">
            月
          </div>
          <%= f.text_field :month, id: "dairy-new-month", class: "add-form dairy-form" %>
        </div>
        <div class="dairy-form-day">
          <div class="dairy-form-head">
            日
          </div>
          <%= f.text_field :day, id: "dairy-new-day", class: "add-form dairy-form" %>
        </div>
      </div>
      <div class="dairy-form-title">
        <div class="dairy-form-head">
          タイトル
        </div>
        <%= f.text_field :title, id: "dairy-new-title", class: "add-form dairy-form" %>
      </div>
      <div class="dairy-form-text">
        <div class="dairy-form-head">
          本文
        </div>
        <%= f.text_area :text, id: "dairy-new-text", class: "textarea-form" %>
      </div>
      <div class="convey convey-submit">
        <input type="submit" value="">
      </div>
    <% end %>
  </div>
</div>
