<div class="wanna box">
  <div class="wanna-title box-title">
    <%= link_to "やりたいこと", wannas_path, data: {"turbolinks" => false}, class: "box-title" %>
    (<span class="convey-wanna-count"><%= @wannas.count() %></span>)
    <div class="btn wanna-btn">
      編集
    </div>
  </div>
  <div class="wanna-main box-main">
    <%= form_with(url: achieve_wannas_path, scope: :wanna, local: true, id: "wanna-achieve-form") do |f| %>
      <%= f.text_field :achieve_num, id: "wanna-achieve-num", class: "convey achieve-num" %>
    <% end %>
    <% if !!@wannas %>
      <% @wannas.each do |wanna| %>
      <div class="wanna-unit unit">
        <div class="wanna-id convey">
          <%= wanna.id %>
        </div>
        <div class="wanna-icon icon">
          ・
        </div>
        <div class="wanna-value value">
          <%= wanna.value %>
        </div>
      </div>
      <% end %>
    <% end %>
    <%= form_with(url: add_wannas_path, scope: :wanna, local: true, id: "wanna-add-form") do |f| %>
    <div class="wanna-add add">
      <div class="wanna-add-icon" id="wanna-add-submit">
        <i class="fas fa-plus-circle"></i>
      </div>
      <div class="wanna-value">
        <%= f.text_field :add_value, id: "wanna-add-value", class: "add-form" %>
      </div>
      <div class="convey convey-submit">
        <input type="submit" value="">
      </div>
    </div>
    <% end %>
  </div>
</div>
